# Data cleaning

In [11]:
import pandas as pd

human_resources = pd.read_csv("../datasets/initial/Human Resources.csv")
facilities = pd.read_csv("../datasets/initial/Facilities.csv")
suicide_rates = pd.read_csv("../datasets/initial/Crude suicide rates.csv")
suicide_by_age = pd.read_csv("../datasets/initial/Age-standardized suicide rates.csv")

In [12]:
suicide_by_age['Sex'].unique()

array([' Both sexes', ' Male', ' Female'], dtype=object)

In [13]:
suicide_by_age.replace([' Both sexes', ' Male', ' Female'], ['Both sexes', 'Male', 'Female'], inplace=True)
suicide_rates.replace([' Both sexes', ' Male', ' Female'], ['Both sexes', 'Male', 'Female'], inplace=True)
suicide_by_age['Sex'].unique()

array(['Both sexes', 'Male', 'Female'], dtype=object)

In [14]:
human_resources["Country"]

0              Afghanistan
1                  Albania
2                   Angola
3      Antigua and Barbuda
4                Argentina
              ...
102             Uzbekistan
103                Vanuatu
104                  Yemen
105                 Zambia
106               Zimbabwe
Name: Country, Length: 107, dtype: object

In [15]:
human_resources.replace(['Bolivia (Plurinational State of)'], ['Bolivia'], inplace=True)
facilities.replace(['Bolivia (Plurinational State of)'], ['Bolivia'], inplace=True)
suicide_rates.replace(['Bolivia (Plurinational State of)'], ['Bolivia'], inplace=True)
suicide_by_age.replace(['Bolivia (Plurinational State of)'], ['Bolivia'], inplace=True)

In [16]:
human_resources["Country"]

0              Afghanistan
1                  Albania
2                   Angola
3      Antigua and Barbuda
4                Argentina
              ...
102             Uzbekistan
103                Vanuatu
104                  Yemen
105                 Zambia
106               Zimbabwe
Name: Country, Length: 107, dtype: object

In [17]:
facilities.columns

Index(['Country', 'Year', 'Mental _hospitals', 'health_units',
       'outpatient _facilities', 'day _treatment', 'residential_facilities'],
      dtype='object')

In [18]:
facilities.rename(columns={'Mental _hospitals': 'Mental_hospitals',
                           'outpatient _facilities': 'outpatient_facilities',
                           'day _treatment': 'day_treatment'}, inplace=True)
facilities.columns

Index(['Country', 'Year', 'Mental_hospitals', 'health_units',
       'outpatient_facilities', 'day_treatment', 'residential_facilities'],
      dtype='object')

# Exporting dataframe to CSVs

In [21]:
human_resources.to_csv('../datasets/after-processing/Human Resources.csv', index=False)
facilities.to_csv('../datasets/after-processing/Facilities.csv', index=False)
suicide_rates.to_csv('../datasets/after-processing/Crude suicide rates.csv', index=False)
suicide_by_age.to_csv('../datasets/after-processing/Age-standardized suicide rates.csv', index=False)

In [23]:
suicide_r

         Country         Sex  2016  2015  2010  2000
0    Afghanistan  Both sexes   6.4   6.6   7.4   8.1
1    Afghanistan        Male  10.6  10.9  12.5  14.3
2    Afghanistan      Female   2.1   2.1   2.1   1.7
3        Albania  Both sexes   5.6   5.3   7.7   5.8
4        Albania        Male   7.0   6.7   9.5   8.2
..           ...         ...   ...   ...   ...   ...
544       Zambia        Male  17.5  17.4  17.9  21.9
545       Zambia      Female   6.2   6.1   6.2   7.5
546     Zimbabwe  Both sexes  19.1  18.9  20.6  21.7
547     Zimbabwe        Male  29.1  28.7  32.3  35.5
548     Zimbabwe      Female  11.1  11.1  11.1   9.8

[549 rows x 6 columns]