# Data cleaning

In [9]:
import pandas as pd

human_resources = pd.read_csv("../datasets/initial/Human Resources.csv")
facilities = pd.read_csv("../datasets/initial/Facilities.csv")
suicide_rates = pd.read_csv("../datasets/initial/Crude suicide rates.csv")
suicide_by_age = pd.read_csv("../datasets/initial/Age-standardized suicide rates.csv")

In [25]:
suicide_by_age['Sex'].unique()

array(['Both sexes', 'Male', 'Female'], dtype=object)

In [11]:
suicide_by_age.replace([' Both sexes', ' Male', ' Female'], ['Both sexes', 'Male', 'Female'], inplace=True)
suicide_rates.replace([' Both sexes', ' Male', ' Female'], ['Both sexes', 'Male', 'Female'], inplace=True)
suicide_by_age['Sex'].unique()

array(['Both sexes', 'Male', 'Female'], dtype=object)

In [26]:
human_resources["Country"]

0              Afghanistan
1                  Albania
2                   Angola
3      Antigua and Barbuda
4                Argentina
              ...
102             Uzbekistan
103                Vanuatu
104                  Yemen
105                 Zambia
106               Zimbabwe
Name: Country, Length: 107, dtype: object

In [13]:
human_resources.replace(['Bolivia (Plurinational State of)'], ['Bolivia'], inplace=True)
facilities.replace(['Bolivia (Plurinational State of)'], ['Bolivia'], inplace=True)
suicide_rates.replace(['Bolivia (Plurinational State of)'], ['Bolivia'], inplace=True)
suicide_by_age.replace(['Bolivia (Plurinational State of)'], ['Bolivia'], inplace=True)

In [14]:
human_resources["Country"]

0              Afghanistan
1                  Albania
2                   Angola
3      Antigua and Barbuda
4                Argentina
              ...
102             Uzbekistan
103                Vanuatu
104                  Yemen
105                 Zambia
106               Zimbabwe
Name: Country, Length: 107, dtype: object

In [30]:
facilities.columns

Index(['Country', 'Year', 'Mental_hospitals', 'health_units',
       'outpatient_facilities', 'day_treatment', 'residential_facilities'],
      dtype='object')

In [16]:
facilities.rename(columns={'Mental _hospitals': 'Mental_hospitals',
                           'outpatient _facilities': 'outpatient_facilities',
                           'day _treatment': 'day_treatment'}, inplace=True)
facilities.columns

Index(['Country', 'Year', 'Mental_hospitals', 'health_units',
       'outpatient_facilities', 'day_treatment', 'residential_facilities'],
      dtype='object')

# Exporting dataframe to CSVs

In [17]:
human_resources.to_csv('../datasets/after-processing/Human Resources.csv', index=True)
facilities.to_csv('../datasets/after-processing/Facilities.csv', index=True)
suicide_rates.to_csv('../datasets/after-processing/Crude suicide rates.csv', index=True)
suicide_by_age.to_csv('../datasets/after-processing/Age-standardized suicide rates.csv', index=True)

In [22]:
suicide_by_age.to_csv('../datasets/after-processing/Age-standardized suicide rates.csv', index=True)

In [32]:
suicide_by_age

      Country         Sex  2016  2015  2010  2000
539  Viet Nam      Female   3.4   3.5   3.5   3.9
540     Yemen  Both sexes   9.8   9.9  10.6   9.1
541     Yemen        Male  13.4  13.6  14.6  12.8
542     Yemen      Female   6.2   6.3   6.6   5.5
543    Zambia  Both sexes  11.3  11.2  11.5  14.1
544    Zambia        Male  17.5  17.4  17.9  21.9
545    Zambia      Female   6.2   6.1   6.2   7.5
546  Zimbabwe  Both sexes  19.1  18.9  20.6  21.7
547  Zimbabwe        Male  29.1  28.7  32.3  35.5
548  Zimbabwe      Female  11.1  11.1  11.1   9.8